<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <form id="formMovie"method="POST" enctype="multipart/form-data" action="/movies/create" > 

        
    <label for="title"> title </label>
<input type="text" name="title" id="title">

<h3> genres</h3>

<%genres.forEach(element => {%>


     <label><%= element.name %> </label>

    <input type="checkbox" name="genre" value="<%=element.id %>">


<% });  %> 
<br>

<input type="file" name="image">

<br>
<label for= "text"></label>
<input type="text">
<input type="number">
<input type="date">

<input type="submit" >

</form>


</body>
</html>